.main-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.signup-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.form-header {
  flex: 3;
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding-left: 30px;
}

.form-header > p {
  margin-top: 150px;
  font-size: 25px;
  font-weight: bold;
  font-family: GidolinyaRegular;
}

.form-section {
  flex: 2.5;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-section > form {
  display: flex;
  padding: 30px;
  gap: 60px;
}

.left-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#password-mismatch {
  height: 10px;
  width: 200px;
  font-size: 15px;
}

.right-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, label {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 11px;
  font-family: GidolinyaRegular;
  font-weight: bold;
}

input {
  border-radius: 7px;
  height: 25px;
  width: 200px;
  box-shadow: 3px 3px gray;
}

input:focus {
  outline: none;
  border: 2px solid #32CD32;
  box-shadow: 0 0 10px #719ECE;
}

input:invalid {
  border: 2px solid #FF7F7F;
}

.form-footer {
  flex: 3;
  background-color: #f2f2f2;
  padding: 30px;
}

.form-footer > button {
  background-color: #596D48;
  color: white;
  height: 50px;
  width: 170px;
  border-radius: 10px;
  box-shadow: 3px 3px gray;
}